<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="Auth">
            <file>tests/Access.php</file>
            <file>tests/Url.php</file>
            <file>tests/Route.php</file>
        </testsuite>
    </testsuites>
    <php>
        <env name="MODE" value="test"/>
    </php>
</phpunit>